* {
	line-height: 1.25 !important;
}

body {
	font-size: 18px;
	line-height: 1.4;	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #3c8c88;
	font-style: normal;
}

h1 {
	font-size: 2.25em;
	border-bottom: 4px double #e4e4e4;
	margin: .2em 0;
}

h2 {
	font-size: 1.5em;
	margin: .6em 0 .3em;
	
}

h3 {
	font-size: 1.125em;
	margin: 1em 0 .5em;
}

h4, h5, h6 {
	font-size: 1em;
	margin: 1.4em 0 .7em;
}

h1 + p {
	font-size: 1.3em;
	color: #454545;
}

p {
	margin-bottom: 0;
}

p + p {
	text-indent: 1em;
	/*If you want a paragraph indicator, uncomment the next line*/
	/*background: url(images/paragraph_indicator_2.png) no-repeat 0 3px;*/
	/*background: url(images/paragraph_indicator_3.png) no-repeat left 0;*/
}

p.pullquote {
	font-size: 1.5em;
	background: none;
	text-indent: 0;
	width: 8em;
	border-bottom: 4px double #e4e4e4;
	border-top: 4px double #e4e4e4;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	position: static;
	margin: 0px 0 10px 30px;
	-webkit-hyphenate-limit-after:3;
	-webkit-hyphenate-limit-before:5;
	text-align: left;
	color: #3c8c88;
}

p.pullquote:before {
	content: "\201C";
}

p.pullquote:after {
	content: "\201D";
}

em {
	font-family: 'GoudyItalic';
}

strong {
	font-weight: bold;
	color: #666;
}

ul {
	margin-left: 0;
	margin-bottom: .8em;
	margin-top: .8em;
}

li {
	color: #555 !important;
	list-style-type: disc;
	line-height: 30px;
	margin-top: .4em;
	margin-bottom: .4em;
}

.sidebar {
	font-size: .75em;
	width: 17.1em !important;
	padding: 0px 1.4em 0px 1.4em !important;
	color: #bbb;
}


.sidebar h2 {
	border-bottom: 4px double #e4e4e4;
	padding-bottom: .4em;
	margin-bottom: .5em;
	margin-top: 1.3em;
	color: #3c8c88;
}